{% extends "layout.html" %}
{% block content %}

    <div class="password">
        <div class="form-container">
            <h1>Password Generator</h1>
            <form action="/password_generator.html" method="post">
                <label for="length">Password Length:</label>
                <input type="number" id="length" name="length" min="6" required>
                <label id="symbol">
                    <input type="checkbox" name="symbols"> Include Symbols
                </label>
                <button type="submit">Generate Password</button>
            </form>

            {% if password %}
            <div class="generated-password">
                Your Password:<br> {{ password }}
            </div>
            {% endif %}
        </div>
    </div>

{% endblock %}